<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dance Website</title>
  <link rel="stylesheet" href="../static/style.css">
  <script src="../static/index.js"></script>
</head>

<body>
  <nav id="navbar">
    <ul>
      <div id="logo">
        <img src="../static/26590-removebg-preview.png" alt="">
      </div>
      <li><a href="/">Home</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/classinfo">Dance class Info</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </nav>

  <div id="introSection">Welcome to Bibek's Dance Academy! <div class="small">Learn To Dance In 2 Months</div>
  </div>
  <div id="whychooseSection">
    <h2> Why Choose Our Academy:</h2>
    <div class="card">
      <div class="card-content">
        <img src="../static/guaranteed.png" alt="" srcset="">
        <h3>100% Result Guarantee!</h3>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <img src="../static/a-.png" alt="" srcset="">
        <h3>Famous Trainers!</h3>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <img src="../static/guaranteed.png" alt="" srcset="">
        <h3>10-Years Of Experience!</h3>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <img src="../static/customer-review.png" alt="" srcset="">
        <h3>5000+ Happy Clients!</h3>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <img src="../static/schedule.png" alt="" srcset="">
        <h3>Flexible Timetable!</h3>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <img src="../static/map.png" alt="" srcset="">
        <h3>Comfortable Location!</h3>
      </div>
    </div>

  </div>
  <div id="dancestyleSection">
    <h2> Choose Your Dance Style:</h2>
    <div class="dance-card">
        <img src="../static/Contemporary Dance.jpg" alt="" srcset="">
        <div class="dance-card-box">
          <h3>Contemporary Dance!</h3>
          <p>We can especially recommend this dance school template to dancers and true artists. Customization capabilities of this AMP dancing template are unmatched in terms of both depth and intuitiveness.</p>
        </div>
    </div>
    <div class="dance-card">
        <img src="../static/Hip-Hop dance.jpg" alt="" srcset="">
        <div class="dance-card-box">
          <h3>Hip-Hop Dance!</h3>
          <p>We can especially recommend this dance school template to dancers and true artists. Customization capabilities of this AMP dancing template are unmatched in terms of both depth and intuitiveness.</p>
        </div>
    </div>
    <div class="dance-card">
        <img src="../static/pole dance.jpg" alt="" srcset="">
        <div class="dance-card-box">
          <h3>Pole Dance!</h3>
          <p>We can especially recommend this dance school template to dancers and true artists. Customization capabilities of this AMP dancing template are unmatched in terms of both depth and intuitiveness.</p>
        </div>
    </div>
    <div class="dance-card">
        <img src="../static/Ballet dance.jpg" alt="" srcset="">
        <div class="dance-card-box">
          <h3>Ballet Dance!</h3>
          <p>We can especially recommend this dance school template to dancers and true artists. Customization capabilities of this AMP dancing template are unmatched in terms of both depth and intuitiveness.</p>
        </div>
    </div>
  </div>

<div id="instrucSection">
  <h2>Meet Our Instructors:</h2>
  <div class="instruc-card">
    <div class="instruc-card-box">
    <img src="../static/happyclientsimg1.jpg" alt="" srcset="">
      <p>Check out the best AMP dancing template designed and build to represent a wonderful school of yours in an attractive and professional way.</p>
      <h3>Harry Smith (Hip-Hop Instructor)</h3>
    </div>
    <div class="instruc-card-box">
    <img src="../static/happyclientsimg1.jpg" alt="" srcset="">
      <p>Check out the best AMP dancing template designed and build to represent a wonderful school of yours in an attractive and professional way.</p>
      <h3>Harry Smith (Hip-Hop Instructor)</h3>
    </div>
    <div class="instruc-card-box">
    <img src="../static/happyclientsimg1.jpg" alt="" srcset="">
      <p>Check out the best AMP dancing template designed and build to represent a wonderful school of yours in an attractive and professional way.</p>
      <h3>Harry Smith (Hip-Hop Instructor)</h3>
    </div>
    <div class="instruc-card-box">
    <img src="../static/happyclientsimg1.jpg" alt="" srcset="">
      <p>Check out the best AMP dancing template designed and build to represent a wonderful school of yours in an attractive and professional way.</p>
      <h3>Harry Smith (Hip-Hop Instructor)</h3>
    </div>
  </div>
</div>

<div id="pricingSection">
  <h2>Pricing Tables:</h2>
  <div class="pricing-card">
    <div class="pricing-card-box">
     <h2>Basic:</h2>
     <h1>$100 per months</h1>
      <h3>1 Individual Class</h3>
      <h3>1 Dance Style</h3>
      <h3>2 Days / Week</h3>
      <button class="btn">BOOK NOW</button>
    </div>
    <div class="pricing-card-box">
     <h2>Standart:</h2>
     <h1>$200 per months</h1>
      <h3>2 Individual Classes</h3>
      <h3>2 Dance Style</h3>
      <h3>3 Days / Week</h3>
      <button class="btn">BOOK NOW</button>
    </div>
    <div class="pricing-card-box">
     <h2>Premium:</h2>
     <h1>$300 per months</h1>
      <h3>7 Individual Classes</h3>
      <h3>All Dance Style</h3>
      <h3>Any Day & Nutritionist Consultation</h3>
      <button class="btn">BOOK NOW</button>
    </div>
  </div>
</div>

<div id="footerSection">copyright@ Bibek's Dance Academy. All Right Reserved.</div>
</body>

</html>
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
