<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dance Website</title>
  <link rel="stylesheet" href="../static/style.css">
  <script src="../static/index.js"></script>
</head>

<body>
  <nav id="navbar">
    <ul>
      <div id="logo">
        <img src="../static/26590-removebg-preview.png" alt="">
      </div>
      <li><a href="/">Home</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/classinfo">Dance class Info</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
</nav>
<div id="contactSection">
    <h1>Contact Form</h1>
    <form action="/contact" method="POST" class="contactform">
    <input type="text" id="name" name="name" placeholder="Enter Your Name">
    <input type="text" id="email" name="email" placeholder="Enter Your Email Address">
    <input type="text" id="number" name="number" placeholder="Enter Your Mobile Number">
    <textarea name="address" id="address" placeholder="Enter Your Address" cols="10" rows="10"></textarea>
    <textarea name="more" id="more" placeholder="Write More About You" cols="10" rows="10"></textarea>
    <button class="btn2">Submit</button>
</form>
</div>
  <div id="footerSection">copyright@ Bibek's Dance Academy. All Right Reserved.</div>
</body>

</html>